# Config file for testing
--header 1,2,3  #should be 2 args
   --trim    
    #comment with spaces
-I 
"quouted argument, with , spaces"   
--include 'another one with spaces'
#### some empty lines ####



--separator tab


'this is \'escaped\''

--header
one,\
two,\
three

this_is\#not_a_comment

\#also_not_a_comment

--include "
eins,
zwei,
drei"
